.App {
  font-family:'Times New Roman', Times, serif;
  
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(71, 101, 71);
}

.header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(217, 238, 217);
}


.employee-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: rgb(133, 177, 133);
  width: 95%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.pics {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(80, 112, 80);
}

.name {
  /* border: 2px solid salmon; */
  height: fit-content;

}

.name > h4 {
  color: gray;
}

.full {
  display: flex;
  justify-content: center;
  background-color: rgb(71, 101, 71);
}

.full-employee {
  width: 100%;
}

.employee {
  display: flex;
  gap: 15px;
  background-color: rgb(133, 177, 133);
}

.info {
  padding: 10px;
  background-color: rgb(133, 177, 133);
  gap: 15px;
}
